.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.header-container img {
    width: 120px;
    height: auto;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  header img {
    margin-bottom: 10px;
  }
}