nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav ul li {
  font-weight: bold;
  margin: 0px 15px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #e0b800;
}

.hamburger {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
  nav {
    width: 100%;
  }

  .hamburger {
    display: block;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
    display: none;
    text-align: center;
  }

  nav.open ul {
    display: flex;
  }
}

@media (max-width: 480px) {
  nav ul li a {
    font-size: 16px;
  }
}